# Using Pandas

In [1]:
import pandas as pd
import numpy as np
pd.set_option('display.max_rows', 200)
## to make it possible to display multiple output inside one cell 
from IPython.core.interactiveshell import InteractiveShell
InteractiveShell.ast_node_interactivity = "all"

<b>load the data from the vehicles.csv file into pandas data frame

In [9]:
df=pd.read_csv("/Users/elisabethoeljeklaus/GitHub/IH_RH_DA_FT_AUG_2022/Class_Materials/Pandas/Labs/data/vehicles.csv")
df

,Make,Model,Year,Engine Displacement,Cylinders,Transmission,Drivetrain,Vehicle Class,Fuel Type,Fuel Barrels/Year,City MPG,Highway MPG,Combined MPG,CO2 Emission Grams/Mile,Fuel Cost/Year
0,AM General,DJ Po Vehicle 2WD,1984,2.5,4.0,Automatic 3-spd,2-Wheel Drive,Special Purpose Vehicle 2WD,Regular,19.388824,18,17,17,522.764706,1950
1,AM General,FJ8c Post Office,1984,4.2,6.0,Automatic 3-spd,2-Wheel Drive,Special Purpose Vehicle 2WD,Regular,25.354615,13,13,13,683.615385,2550
2,AM General,Post Office DJ5 2WD,1985,2.5,4.0,Automatic 3-spd,Rear-Wheel Drive,Special Purpose Vehicle 2WD,Regular,20.600625,16,17,16,555.437500,2100
3,AM General,Post Office DJ8 2WD,1985,4.2,6.0,Automatic 3-spd,Rear-Wheel Drive,Special Purpose Vehicle 2WD,Regular,25.354615,13,13,13,683.615385,2550
4,ASC Incorporated,GNX,1987,3.8,6.0,Automatic 4-spd,Rear-Wheel Drive,Midsize Cars,Premium,20.600625,14,21,16,555.437500,2550
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
35947,smart,fortwo coupe,2013,1.0,3.0,Auto(AM5),Rear-Wheel Drive,Two Seaters,Premium,9.155833,34,38,36,244.000000,1100
35948,smart,fortwo coupe,2014,1.0,3.0,Auto(AM5),Rear-Wheel Drive,Two Seaters,Premium,9.155833,34,38,36,243.000000,1100
35949,smart,fortwo coupe,2015,1.0,3.0,Auto(AM5),Rear-Wheel Drive,Two Seaters,Premium,9.155833,34,38,36,244.000000,1100
35950,smart,fortwo coupe,2016,0.9,3.0,Auto(AM6),Rear-Wheel Drive,Two Seaters,Premium,9.155833,34,39,36,246.000000,1100
35951,smart,fortwo coupe,2016,0.9,3.0,Manual 5-spd,Rear-Wheel Drive,Two Seaters,Premium,9.417429,32,39,35,255.000000,1150

First exploration of the dataset:

- How many observations does it have?
- Look at all the columns: do you understand what they mean?
- Look at the raw data: do you see anything weird?
- Look at the data types: are they the expected ones for the information the column contains?

In [10]:
df.info()
# yes got what the values for each column mean
# 15 columns

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 35952 entries, 0 to 35951
Data columns (total 15 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   Make                     35952 non-null  object
 1   Model                    35952 non-null  object
 2   Year                     35952 non-null  int64
 3   Engine Displacement      35952 non-null  float64
 4   Cylinders                35952 non-null  float64
 5   Transmission             35952 non-null  object
 6   Drivetrain               35952 non-null  object
 7   Vehicle Class            35952 non-null  object
 8   Fuel Type                35952 non-null  object
 9   Fuel Barrels/Year        35952 non-null  float64
 10  City MPG                 35952 non-null  int64
 11  Highway MPG              35952 non-null  int64
 12  Combined MPG             35952 non-null  int64
 13  CO2 Emission Grams/Mile  35952 non-null  float64
 14  Fuel Cost/Year           35952 non-null  int64
dtypes: float64(4), int64(5), object(6)
memory usage: 4.1+ MB

In [11]:
len(df.index) #Number of observations

35952

In [12]:
# Raw data: some int, some float, some objects

Look at the data types: are they the expected ones for the information the column contains?

In [13]:
# yes expected object, int64 and float64 as dtype for the columns

### Cleaning and wrangling data

- Some car brand names refer to the same brand. Replace all brand names that contain the word "Dutton" for simply "Dutton". If you find similar examples, clean their names too. Use `loc` with boolean indexing.

- Convert CO2 Emissions from Grams/Mile to Grams/Km

- Create a binary column that solely indicates if the transmission of a car is automatic or manual. Use `pandas.Series.str.startswith` and .

- convert MPG columns to km_per_liter

In [31]:
df_dutton= df.loc[df["Make"].str.contains("Dutton",case=False)]
df_dutton

,Make,Model,Year,Engine Displacement,Cylinders,Transmission,Drivetrain,Vehicle Class,Fuel Type,Fuel Barrels/Year,City MPG,Highway MPG,Combined MPG,CO2 Emission Grams/Mile,Fuel Cost/Year,1
11012,"E. P. Dutton, Inc.",Funeral Coach,1985,4.1,8.0,Automatic 4-spd,Front-Wheel Drive,Special Purpose Vehicles,Regular,19.388824,15,21,17,522.764706,1950,Dutton
30164,S and S Coach Company E.p. Dutton,Funeral Coach 2WD,1984,6.0,8.0,Automatic 3-spd,2-Wheel Drive,Special Purpose Vehicle 2WD,Regular,32.961000,9,11,10,888.700000,3350,Dutton
31754,Superior Coaches Div E.p. Dutton,Funeral Coach 2WD,1984,6.0,8.0,Automatic 3-spd,2-Wheel Drive,Special Purpose Vehicle 2WD,Regular,32.961000,10,11,10,888.700000,3350,Dutton

In [47]:
df.loc[[11012,30164,31754],"Make"]="Dutton"

df.loc[[11012,30164,31754]]

,Make,Model,Year,Engine Displacement,Cylinders,Transmission,Drivetrain,Vehicle Class,Fuel Type,Fuel Barrels/Year,City MPG,Highway MPG,Combined MPG,CO2 Emission Grams/Mile,Fuel Cost/Year,1
11012,Dutton,Funeral Coach,1985,4.1,8.0,Automatic 4-spd,Front-Wheel Drive,Special Purpose Vehicles,Regular,19.388824,15,21,17,522.764706,1950,Dutton
30164,Dutton,Funeral Coach 2WD,1984,6.0,8.0,Automatic 3-spd,2-Wheel Drive,Special Purpose Vehicle 2WD,Regular,32.961000,9,11,10,888.700000,3350,Dutton
31754,Dutton,Funeral Coach 2WD,1984,6.0,8.0,Automatic 3-spd,2-Wheel Drive,Special Purpose Vehicle 2WD,Regular,32.961000,10,11,10,888.700000,3350,Dutton

**Convert CO2 Emissions from Grams/Mile to Grams/Km**

Converting Grams/Mile to Grams/Km

1 Mile = 1.60934 Km

Grams/Mile * Mile/Km -> Grams/Mile * 1 Mile/1.60934Km

$$ \frac{Grams}{Mile} * \frac{Mile}{Km} $$

$$ \frac{Grams}{Mile} * \frac{1 Mile}{1.60934Km}  $$

In [67]:

df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 35952 entries, 0 to 35951
Data columns (total 16 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   Make                     35952 non-null  object
 1   Model                    35952 non-null  object
 2   Year                     35952 non-null  int64
 3   Engine Displacement      35952 non-null  float64
 4   Cylinders                35952 non-null  float64
 5   Transmission             35952 non-null  object
 6   Drivetrain               35952 non-null  object
 7   Vehicle Class            35952 non-null  object
 8   Fuel Type                35952 non-null  object
 9   Fuel Barrels/Year        35952 non-null  float64
 10  City MPG                 35952 non-null  int64
 11  Highway MPG              35952 non-null  int64
 12  Combined MPG             35952 non-null  int64
 13  CO2 Emission Grams/Mile  35952 non-null  float64
 14  Fuel Cost/Year           35952 non-null  int64
 15  1                        3 non-null      object
dtypes: float64(4), int64(5), object(7)
memory usage: 4.4+ MB

In [68]:
df.loc[:,"CO2 Emission Grams/Mile"]

0        324.830928
1        424.778906
2        345.132861
3        424.778906
4        345.132861
            ...
35947    151.614571
35948    150.993200
35949    151.614571
35950    152.857313
35951    158.449654
Name: CO2 Emission Grams/Mile, Length: 35952, dtype: float64

In [69]:
df["CO2 Emission Grams/Mile"]=df["CO2 Emission Grams/Mile"]  * 0.621371192 
df.loc[:,"CO2 Emission Grams/Mile"]

0        201.840581
1        263.945375
2        214.455618
3        263.945375
4        214.455618
            ...
35947     94.208927
35948     93.822824
35949     94.208927
35950     94.981131
35951     98.456050
Name: CO2 Emission Grams/Mile, Length: 35952, dtype: float64

In [70]:
df.rename(columns={"CO2 Emission Grams/Mile": "CO2 Emission Grams/KM"})

,Make,Model,Year,Engine Displacement,Cylinders,Transmission,Drivetrain,Vehicle Class,Fuel Type,Fuel Barrels/Year,City MPG,Highway MPG,Combined MPG,CO2 Emission Grams/KM,Fuel Cost/Year,1
0,AM General,DJ Po Vehicle 2WD,1984,2.5,4.0,Automatic 3-spd,2-Wheel Drive,Special Purpose Vehicle 2WD,Regular,19.388824,18,17,17,201.840581,1950,NaN
1,AM General,FJ8c Post Office,1984,4.2,6.0,Automatic 3-spd,2-Wheel Drive,Special Purpose Vehicle 2WD,Regular,25.354615,13,13,13,263.945375,2550,NaN
2,AM General,Post Office DJ5 2WD,1985,2.5,4.0,Automatic 3-spd,Rear-Wheel Drive,Special Purpose Vehicle 2WD,Regular,20.600625,16,17,16,214.455618,2100,NaN
3,AM General,Post Office DJ8 2WD,1985,4.2,6.0,Automatic 3-spd,Rear-Wheel Drive,Special Purpose Vehicle 2WD,Regular,25.354615,13,13,13,263.945375,2550,NaN
4,ASC Incorporated,GNX,1987,3.8,6.0,Automatic 4-spd,Rear-Wheel Drive,Midsize Cars,Premium,20.600625,14,21,16,214.455618,2550,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
35947,smart,fortwo coupe,2013,1.0,3.0,Auto(AM5),Rear-Wheel Drive,Two Seaters,Premium,9.155833,34,38,36,94.208927,1100,NaN
35948,smart,fortwo coupe,2014,1.0,3.0,Auto(AM5),Rear-Wheel Drive,Two Seaters,Premium,9.155833,34,38,36,93.822824,1100,NaN
35949,smart,fortwo coupe,2015,1.0,3.0,Auto(AM5),Rear-Wheel Drive,Two Seaters,Premium,9.155833,34,38,36,94.208927,1100,NaN
35950,smart,fortwo coupe,2016,0.9,3.0,Auto(AM6),Rear-Wheel Drive,Two Seaters,Premium,9.155833,34,39,36,94.981131,1100,NaN
35951,smart,fortwo coupe,2016,0.9,3.0,Manual 5-spd,Rear-Wheel Drive,Two Seaters,Premium,9.417429,32,39,35,98.456050,1150,NaN

**Create a binary column that solely indicates if the transmission of a car is automatic or manual. Use pandas.Series.str.startswith and**

In [81]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 35952 entries, 0 to 35951
Data columns (total 17 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   Make                     35952 non-null  object
 1   Model                    35952 non-null  object
 2   Year                     35952 non-null  int64
 3   Engine Displacement      35952 non-null  float64
 4   Cylinders                35952 non-null  float64
 5   Transmission             35952 non-null  object
 6   Manual=1,Auto=0          35952 non-null  object
 7   Drivetrain               35952 non-null  object
 8   Vehicle Class            35952 non-null  object
 9   Fuel Type                35952 non-null  object
 10  Fuel Barrels/Year        35952 non-null  float64
 11  City MPG                 35952 non-null  int64
 12  Highway MPG              35952 non-null  int64
 13  Combined MPG             35952 non-null  int64
 14  CO2 Emission Grams/Mile  35952 non-null  float64
 15  Fuel Cost/Year           35952 non-null  int64
 16  1                        3 non-null      object
dtypes: float64(4), int64(5), object(8)
memory usage: 4.7+ MB

In [78]:

df.pop("Manual=1,Auto=0")

0
1
2
3
4
        ..
35947
35948
35949
35950
35951
Name: Manual=1,Auto=0, Length: 35952, dtype: object

In [79]:
df.insert(6,"Manual=1,Auto=0","")
df

,Make,Model,Year,Engine Displacement,Cylinders,Transmission,"Manual=1,Auto=0",Drivetrain,Vehicle Class,Fuel Type,Fuel Barrels/Year,City MPG,Highway MPG,Combined MPG,CO2 Emission Grams/Mile,Fuel Cost/Year,1
0,AM General,DJ Po Vehicle 2WD,1984,2.5,4.0,Automatic 3-spd,,2-Wheel Drive,Special Purpose Vehicle 2WD,Regular,19.388824,18,17,17,201.840581,1950,NaN
1,AM General,FJ8c Post Office,1984,4.2,6.0,Automatic 3-spd,,2-Wheel Drive,Special Purpose Vehicle 2WD,Regular,25.354615,13,13,13,263.945375,2550,NaN
2,AM General,Post Office DJ5 2WD,1985,2.5,4.0,Automatic 3-spd,,Rear-Wheel Drive,Special Purpose Vehicle 2WD,Regular,20.600625,16,17,16,214.455618,2100,NaN
3,AM General,Post Office DJ8 2WD,1985,4.2,6.0,Automatic 3-spd,,Rear-Wheel Drive,Special Purpose Vehicle 2WD,Regular,25.354615,13,13,13,263.945375,2550,NaN
4,ASC Incorporated,GNX,1987,3.8,6.0,Automatic 4-spd,,Rear-Wheel Drive,Midsize Cars,Premium,20.600625,14,21,16,214.455618,2550,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
35947,smart,fortwo coupe,2013,1.0,3.0,Auto(AM5),,Rear-Wheel Drive,Two Seaters,Premium,9.155833,34,38,36,94.208927,1100,NaN
35948,smart,fortwo coupe,2014,1.0,3.0,Auto(AM5),,Rear-Wheel Drive,Two Seaters,Premium,9.155833,34,38,36,93.822824,1100,NaN
35949,smart,fortwo coupe,2015,1.0,3.0,Auto(AM5),,Rear-Wheel Drive,Two Seaters,Premium,9.155833,34,38,36,94.208927,1100,NaN
35950,smart,fortwo coupe,2016,0.9,3.0,Auto(AM6),,Rear-Wheel Drive,Two Seaters,Premium,9.155833,34,39,36,94.981131,1100,NaN
35951,smart,fortwo coupe,2016,0.9,3.0,Manual 5-spd,,Rear-Wheel Drive,Two Seaters,Premium,9.417429,32,39,35,98.456050,1150,NaN

In [80]:
# for element in df[:,"Transmission"]
#     if df.loc[df["Transmission"].str.contains("Auto",case=False):
# never use for loop in Pandas -- it will mess things up [recommendation from Stack Overflow]

In [82]:
transmission=df.iloc[:,5]
transmission

0        Automatic 3-spd
1        Automatic 3-spd
2        Automatic 3-spd
3        Automatic 3-spd
4        Automatic 4-spd
              ...
35947          Auto(AM5)
35948          Auto(AM5)
35949          Auto(AM5)
35950          Auto(AM6)
35951       Manual 5-spd
Name: Transmission, Length: 35952, dtype: object

In [86]:
#if transmission.str.startswith("Auto")==True:
# Manual=1,Auto=0

df["Manual=1,Auto=0"]= df ["Transmission"].map(lambda x: 0 if "Manual" in x else 1 if "Auto" in x else np.nan)

In [87]:
df

,Make,Model,Year,Engine Displacement,Cylinders,Transmission,"Manual=1,Auto=0",Drivetrain,Vehicle Class,Fuel Type,Fuel Barrels/Year,City MPG,Highway MPG,Combined MPG,CO2 Emission Grams/Mile,Fuel Cost/Year,1
0,AM General,DJ Po Vehicle 2WD,1984,2.5,4.0,Automatic 3-spd,1,2-Wheel Drive,Special Purpose Vehicle 2WD,Regular,19.388824,18,17,17,201.840581,1950,NaN
1,AM General,FJ8c Post Office,1984,4.2,6.0,Automatic 3-spd,1,2-Wheel Drive,Special Purpose Vehicle 2WD,Regular,25.354615,13,13,13,263.945375,2550,NaN
2,AM General,Post Office DJ5 2WD,1985,2.5,4.0,Automatic 3-spd,1,Rear-Wheel Drive,Special Purpose Vehicle 2WD,Regular,20.600625,16,17,16,214.455618,2100,NaN
3,AM General,Post Office DJ8 2WD,1985,4.2,6.0,Automatic 3-spd,1,Rear-Wheel Drive,Special Purpose Vehicle 2WD,Regular,25.354615,13,13,13,263.945375,2550,NaN
4,ASC Incorporated,GNX,1987,3.8,6.0,Automatic 4-spd,1,Rear-Wheel Drive,Midsize Cars,Premium,20.600625,14,21,16,214.455618,2550,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
35947,smart,fortwo coupe,2013,1.0,3.0,Auto(AM5),1,Rear-Wheel Drive,Two Seaters,Premium,9.155833,34,38,36,94.208927,1100,NaN
35948,smart,fortwo coupe,2014,1.0,3.0,Auto(AM5),1,Rear-Wheel Drive,Two Seaters,Premium,9.155833,34,38,36,93.822824,1100,NaN
35949,smart,fortwo coupe,2015,1.0,3.0,Auto(AM5),1,Rear-Wheel Drive,Two Seaters,Premium,9.155833,34,38,36,94.208927,1100,NaN
35950,smart,fortwo coupe,2016,0.9,3.0,Auto(AM6),1,Rear-Wheel Drive,Two Seaters,Premium,9.155833,34,39,36,94.981131,1100,NaN
35951,smart,fortwo coupe,2016,0.9,3.0,Manual 5-spd,0,Rear-Wheel Drive,Two Seaters,Premium,9.417429,32,39,35,98.456050,1150,NaN

**convert MPG columns to km_per_liter**

convert MPG columns to km_per_liter

MPG = Miles/Gallon -> Km/Liter

1 Mile = 1.60934 Km

1 Gallon = 3.78541 Liters

$$ \frac{Miles}{Gallon} -> \frac{Miles}{Gallon} * \frac{Km}{Miles} * \frac{Gallon}{Liters}$$

$$ \frac{Miles}{Gallon} -> \frac{Miles}{Gallon} * \frac{1.60934Km}{ 1Miles} * \frac{1 Gallon}{3.78541 Liters}$$

* ( 1.60934 / 3.78541 )

In [88]:
#df["CO2 Emission Grams/Mile"]=df["CO2 Emission Grams/Mile"]  * 0.621371192 
#0,425144
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 35952 entries, 0 to 35951
Data columns (total 17 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   Make                     35952 non-null  object
 1   Model                    35952 non-null  object
 2   Year                     35952 non-null  int64
 3   Engine Displacement      35952 non-null  float64
 4   Cylinders                35952 non-null  float64
 5   Transmission             35952 non-null  object
 6   Manual=1,Auto=0          35952 non-null  int64
 7   Drivetrain               35952 non-null  object
 8   Vehicle Class            35952 non-null  object
 9   Fuel Type                35952 non-null  object
 10  Fuel Barrels/Year        35952 non-null  float64
 11  City MPG                 35952 non-null  int64
 12  Highway MPG              35952 non-null  int64
 13  Combined MPG             35952 non-null  int64
 14  CO2 Emission Grams/Mile  35952 non-null  float64
 15  Fuel Cost/Year           35952 non-null  int64
 16  1                        3 non-null      object
dtypes: float64(4), int64(6), object(7)
memory usage: 4.7+ MB

In [92]:
df["City MPG"]=df["City MPG"] * 0.425144
df["Highway MPG"]=df["Highway MPG"] *0.425144
df["Combined MPG"]=df["Combined MPG"] *0.425144
df

,Make,Model,Year,Engine Displacement,Cylinders,Transmission,"Manual=1,Auto=0",Drivetrain,Vehicle Class,Fuel Type,Fuel Barrels/Year,City MPG,Highway MPG,Combined MPG,CO2 Emission Grams/Mile,Fuel Cost/Year,1
0,AM General,DJ Po Vehicle 2WD,1984,2.5,4.0,Automatic 3-spd,1,2-Wheel Drive,Special Purpose Vehicle 2WD,Regular,19.388824,3.253454,3.072706,3.072706,201.840581,1950,NaN
1,AM General,FJ8c Post Office,1984,4.2,6.0,Automatic 3-spd,1,2-Wheel Drive,Special Purpose Vehicle 2WD,Regular,25.354615,2.349716,2.349716,2.349716,263.945375,2550,NaN
2,AM General,Post Office DJ5 2WD,1985,2.5,4.0,Automatic 3-spd,1,Rear-Wheel Drive,Special Purpose Vehicle 2WD,Regular,20.600625,2.891959,3.072706,2.891959,214.455618,2100,NaN
3,AM General,Post Office DJ8 2WD,1985,4.2,6.0,Automatic 3-spd,1,Rear-Wheel Drive,Special Purpose Vehicle 2WD,Regular,25.354615,2.349716,2.349716,2.349716,263.945375,2550,NaN
4,ASC Incorporated,GNX,1987,3.8,6.0,Automatic 4-spd,1,Rear-Wheel Drive,Midsize Cars,Premium,20.600625,2.530464,3.795696,2.891959,214.455618,2550,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
35947,smart,fortwo coupe,2013,1.0,3.0,Auto(AM5),1,Rear-Wheel Drive,Two Seaters,Premium,9.155833,6.145412,6.868402,6.506907,94.208927,1100,NaN
35948,smart,fortwo coupe,2014,1.0,3.0,Auto(AM5),1,Rear-Wheel Drive,Two Seaters,Premium,9.155833,6.145412,6.868402,6.506907,93.822824,1100,NaN
35949,smart,fortwo coupe,2015,1.0,3.0,Auto(AM5),1,Rear-Wheel Drive,Two Seaters,Premium,9.155833,6.145412,6.868402,6.506907,94.208927,1100,NaN
35950,smart,fortwo coupe,2016,0.9,3.0,Auto(AM6),1,Rear-Wheel Drive,Two Seaters,Premium,9.155833,6.145412,7.049149,6.506907,94.981131,1100,NaN
35951,smart,fortwo coupe,2016,0.9,3.0,Manual 5-spd,0,Rear-Wheel Drive,Two Seaters,Premium,9.417429,5.783917,7.049149,6.326160,98.456050,1150,NaN

### Gathering insights:

- How many car makers are there? How many models? Which car maker has the most cars in the dataset?

- When were these cars made? How big is the engine of these cars?

- What's the frequency of different transmissions, drivetrains and fuel types?

- What's the car that consumes the least/most fuel?

In [93]:
df

,Make,Model,Year,Engine Displacement,Cylinders,Transmission,"Manual=1,Auto=0",Drivetrain,Vehicle Class,Fuel Type,Fuel Barrels/Year,City MPG,Highway MPG,Combined MPG,CO2 Emission Grams/Mile,Fuel Cost/Year,1
0,AM General,DJ Po Vehicle 2WD,1984,2.5,4.0,Automatic 3-spd,1,2-Wheel Drive,Special Purpose Vehicle 2WD,Regular,19.388824,3.253454,3.072706,3.072706,201.840581,1950,NaN
1,AM General,FJ8c Post Office,1984,4.2,6.0,Automatic 3-spd,1,2-Wheel Drive,Special Purpose Vehicle 2WD,Regular,25.354615,2.349716,2.349716,2.349716,263.945375,2550,NaN
2,AM General,Post Office DJ5 2WD,1985,2.5,4.0,Automatic 3-spd,1,Rear-Wheel Drive,Special Purpose Vehicle 2WD,Regular,20.600625,2.891959,3.072706,2.891959,214.455618,2100,NaN
3,AM General,Post Office DJ8 2WD,1985,4.2,6.0,Automatic 3-spd,1,Rear-Wheel Drive,Special Purpose Vehicle 2WD,Regular,25.354615,2.349716,2.349716,2.349716,263.945375,2550,NaN
4,ASC Incorporated,GNX,1987,3.8,6.0,Automatic 4-spd,1,Rear-Wheel Drive,Midsize Cars,Premium,20.600625,2.530464,3.795696,2.891959,214.455618,2550,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
35947,smart,fortwo coupe,2013,1.0,3.0,Auto(AM5),1,Rear-Wheel Drive,Two Seaters,Premium,9.155833,6.145412,6.868402,6.506907,94.208927,1100,NaN
35948,smart,fortwo coupe,2014,1.0,3.0,Auto(AM5),1,Rear-Wheel Drive,Two Seaters,Premium,9.155833,6.145412,6.868402,6.506907,93.822824,1100,NaN
35949,smart,fortwo coupe,2015,1.0,3.0,Auto(AM5),1,Rear-Wheel Drive,Two Seaters,Premium,9.155833,6.145412,6.868402,6.506907,94.208927,1100,NaN
35950,smart,fortwo coupe,2016,0.9,3.0,Auto(AM6),1,Rear-Wheel Drive,Two Seaters,Premium,9.155833,6.145412,7.049149,6.506907,94.981131,1100,NaN
35951,smart,fortwo coupe,2016,0.9,3.0,Manual 5-spd,0,Rear-Wheel Drive,Two Seaters,Premium,9.417429,5.783917,7.049149,6.326160,98.456050,1150,NaN

In [94]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 35952 entries, 0 to 35951
Data columns (total 17 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   Make                     35952 non-null  object
 1   Model                    35952 non-null  object
 2   Year                     35952 non-null  int64
 3   Engine Displacement      35952 non-null  float64
 4   Cylinders                35952 non-null  float64
 5   Transmission             35952 non-null  object
 6   Manual=1,Auto=0          35952 non-null  int64
 7   Drivetrain               35952 non-null  object
 8   Vehicle Class            35952 non-null  object
 9   Fuel Type                35952 non-null  object
 10  Fuel Barrels/Year        35952 non-null  float64
 11  City MPG                 35952 non-null  float64
 12  Highway MPG              35952 non-null  float64
 13  Combined MPG             35952 non-null  float64
 14  CO2 Emission Grams/Mile  35952 non-null  float64
 15  Fuel Cost/Year           35952 non-null  int64
 16  1                        3 non-null      object
dtypes: float64(7), int64(3), object(7)
memory usage: 4.7+ MB

In [98]:
df["Make"].value_counts()

Chevrolet                           3643
Ford                                2946
Dodge                               2360
GMC                                 2347
Toyota                              1836
BMW                                 1677
Mercedes-Benz                       1284
Nissan                              1253
Volkswagen                          1047
Mitsubishi                           950
Mazda                                915
Audi                                 890
Porsche                              862
Honda                                836
Jeep                                 829
Pontiac                              784
Subaru                               781
Volvo                                717
Hyundai                              662
Chrysler                             641
Buick                                537
Mercury                              532
Suzuki                               512
Cadillac                             508
Kia                                  493
Plymouth                             456
Saab                                 410
Isuzu                                409
Lexus                                397
Oldsmobile                           376
Infiniti                             345
Jaguar                               343
MINI                                 320
Acura                                302
Saturn                               278
Lincoln                              273
Ferrari                              208
Rolls-Royce                          160
Eagle                                156
Geo                                  144
Land Rover                           142
Aston Martin                         133
Bentley                              116
Maserati                             111
Lamborghini                          104
Scion                                 83
Peugeot                               74
Daewoo                                67
Ram                                   57
Lotus                                 53
Roush Performance                     53
Fiat                                  43
Alfa Romeo                            41
J.K. Motors                           36
Renault                               33
Wallace Environmental                 32
Maybach                               31
American Motors Corporation           22
smart                                 20
Hummer                                19
Daihatsu                              17
CX Automotive                         16
Merkur                                14
Federal Coach                         14
Import Trade Services                 13
McLaren Automotive                    13
Spyker                                13
Sterling                              12
Bugatti                                8
Yugo                                   8
Genesis                                7
Tecstar, LP                            6
Mcevoy Motors                          6
Bertone                                5
VPG                                    5
Saleen                                 5
Panther Car Company Limited            4
Saleen Performance                     4
AM General                             4
Grumman Olson                          4
Texas Coach Company                    4
Vector                                 4
Autokraft Limited                      4
TVR Engineering Ltd                    4
Bitter Gmbh and Co. Kg                 3
Evans Automobiles                      3
BMW Alpina                             3
Consulier Industries Inc               3
Dabryan Coach Builders Inc             3
Dacia                                  3
Dutton                                 3
Morgan                                 3
Ruf Automobile Gmbh                    2
Bill Dovell Motor Car Company          2
Mobility Ventures LLC                  2
Laforza Automobile Inc                 2
CCC Engineering                        2
PAS Inc - GMC                          2
PAS, Inc                               2
SRT                                    2
Pagani                                 2
Red Shift Ltd.                         2
Pininfarina                            2
Quantum Technologies                   2
Isis Imports Ltd                       1
Mahindra                               1
ASC Incorporated                       1
Aurora Cars Ltd                        1
Volga Associated Automobile            1
Vixen Motor Company                    1
JBA Motorcars, Inc.                    1
London Coach Co Inc                    1
London Taxi                            1
Import Foreign Auto Sales Inc          1
Environmental Rsch and Devp Corp       1
Grumman Allied Industries              1
Goldacre                               1
General Motors                         1
Shelby                                 1
Fisker                                 1
Panos                                  1
Panoz Auto-Development                 1
Excalibur Autos                        1
Qvale                                  1
Lambda Control Systems                 1
Name: Make, dtype: int64

In [101]:
#df_dutton= df.loc[df["Make"].str.contains("Dutton",case=False)]
#df.loc[[11012,30164,31754],"Make"]="Dutton"
df.loc[df["Make"].str.contains("Saleen")]="Saleen"
df.loc[df["Make"].str.contains("PAS")]="PAS"
df.loc[df["Make"].str.contains("Pano")]="Panos"
df.loc[df["Make"].str.contains("General Motors")]="GMC"

In [107]:
df["Make"].value_counts()

Chevrolet                           3643
Ford                                2946
Dodge                               2360
GMC                                 2348
Toyota                              1836
BMW                                 1677
Mercedes-Benz                       1284
Nissan                              1253
Volkswagen                          1047
Mitsubishi                           950
Mazda                                915
Audi                                 890
Porsche                              862
Honda                                836
Jeep                                 829
Pontiac                              784
Subaru                               781
Volvo                                717
Hyundai                              662
Chrysler                             641
Buick                                537
Mercury                              532
Suzuki                               512
Cadillac                             508
Kia                                  493
Plymouth                             456
Saab                                 410
Isuzu                                409
Lexus                                397
Oldsmobile                           376
Infiniti                             345
Jaguar                               343
MINI                                 320
Acura                                302
Saturn                               278
Lincoln                              273
Ferrari                              208
Rolls-Royce                          160
Eagle                                156
Geo                                  144
Land Rover                           142
Aston Martin                         133
Bentley                              116
Maserati                             111
Lamborghini                          104
Scion                                 83
Peugeot                               74
Daewoo                                67
Ram                                   57
Lotus                                 53
Roush Performance                     53
Fiat                                  43
Alfa Romeo                            41
J.K. Motors                           36
Renault                               33
Wallace Environmental                 32
Maybach                               31
American Motors Corporation           22
smart                                 20
Hummer                                19
Daihatsu                              17
CX Automotive                         16
Merkur                                14
Federal Coach                         14
Spyker                                13
Import Trade Services                 13
McLaren Automotive                    13
Sterling                              12
Saleen                                 9
Yugo                                   8
Bugatti                                8
Genesis                                7
Tecstar, LP                            6
Mcevoy Motors                          6
Bertone                                5
VPG                                    5
TVR Engineering Ltd                    4
Grumman Olson                          4
Texas Coach Company                    4
PAS                                    4
Vector                                 4
Panther Car Company Limited            4
Autokraft Limited                      4
AM General                             4
Evans Automobiles                      3
Dutton                                 3
Dacia                                  3
Dabryan Coach Builders Inc             3
Bitter Gmbh and Co. Kg                 3
Morgan                                 3
Consulier Industries Inc               3
BMW Alpina                             3
CCC Engineering                        2
SRT                                    2
Ruf Automobile Gmbh                    2
Bill Dovell Motor Car Company          2
Quantum Technologies                   2
Red Shift Ltd.                         2
Laforza Automobile Inc                 2
Pininfarina                            2
Panos                                  2
Pagani                                 2
Mobility Ventures LLC                  2
Mahindra                               1
Aurora Cars Ltd                        1
JBA Motorcars, Inc.                    1
London Coach Co Inc                    1
Volga Associated Automobile            1
Vixen Motor Company                    1
London Taxi                            1
Isis Imports Ltd                       1
Grumman Allied Industries              1
Import Foreign Auto Sales Inc          1
Qvale                                  1
Goldacre                               1
Fisker                                 1
Shelby                                 1
Excalibur Autos                        1
Environmental Rsch and Devp Corp       1
ASC Incorporated                       1
Lambda Control Systems                 1
Name: Make, dtype: int64

How many car makers are there? How many models? Which car maker has the most cars in the dataset?

In [108]:
len(df["Make"].value_counts()) # 121 Car Makers in the list

121

In [103]:
#Chevrolet has the most cars in the data sets

In [109]:
len(df["Model"].value_counts()) #3602 models

3602

<b> (Optional)

What brand has the worse CO2 Emissions on average?

Hint: use the function `sort_values()`

In [28]:
## your Code here

Do cars with automatic transmission consume more fuel than cars with manual transmission on average?

In [20]:
## Your Code is here